html {
  font-size: 80%; }

body {
  height: 100%;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #747474;
  cursor: default; }

.main-view {
  margin-left: 300px;
  padding: 40px; }
  .main-view h1 {
    margin: 0; }

.home {
  position: relative; }

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 250px;
  text-align: center;
  color: #FFF;
  font-size: 30px; }
  .overlay i {
    margin-left: 8px; }
  .overlay span {
    font-size: 20px; }
  .overlay .overlay-msg-container {
    padding: 30px;
    max-width: 110px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65); }

.separator {
  margin: 2px 5px 0 10px;
  vertical-align: middle;
  color: #DDD; }

a {
  color: #42B983;
  text-decoration: none; }

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background-color: #cfcfcf;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none; }

.btn:hover {
  background-color: #cdcdcd; }

.btn:active {
  background-color: #bebebe; }

.btn.btn-small {
  padding: 5px 10px;
  font-size: 12px; }

.btn.disabled {
  pointer-events: none; }

.btn.btn-primary {
  background-color: #42B983; }

.btn.btn-primary:hover {
  background-color: #67D0A0; }

.btn.btn-primary:active {
  background-color: #26A76D; }

.btn.btn-primary.disabled {
  background-color: #9AE6C3; }

.badge {
  padding: 5px 10px;
  color: #FFF;
  background-color: #42B983;
  border-radius: 3px; }

.badge--success {
  background-color: #42B983; }

.badge--error {
  background-color: #c5645b; }

.empty-state {
  padding: 50px;
  text-align: center; }

.empty-state__title {
  color: #cfcfcf;
  font-size: 50px; }

.empty-state__icon {
  color: #cfcfcf;
  font-size: 100px !important;
  margin: 50px 0; }

.empty-state__description {
  color: #cfcfcf;
  font-size: 20px; }

.search-bar {
  z-index: 100;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .search-bar a {
    color: #747474;
    text-decoration: none;
    padding: 20px;
    border-right: 1px solid #d9d9d9; }
  .search-bar a.active {
    color: #42B983;
    border-bottom: 3px solid #42B983;
    margin-bottom: -3px; }
  .search-bar .drop-down__wrapper {
    border-right: 1px solid #d9d9d9; }
  .search-bar .drop-down__label__wrapper {
    padding: 20px; }

.side-filter {
  float: left;
  width: 300px;
  height: 85vh;
  padding: 20px 10px;
  overflow-y: auto; }
  .side-filter .title {
    color: #26A76D;
    font-weight: bold;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px; }
  .side-filter ul {
    margin: 0;
    padding: 5px;
    list-style-type: none; }

.filter-category {
  padding: 15px;
  border-bottom: 1px solid #DDD; }

.checkbox-label {
  font-weight: 700;
  color: #5d5d5d; }

.side-tree {
  float: left;
  width: 300px;
  padding: 40px 0;
  overflow-y: auto; }

.side-tree__title {
  color: #838383;
  font-weight: bold;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px; }

.side-tree__section__title {
  margin: 0;
  padding: 20px;
  border-top: 1px solid #cfcfcf;
  cursor: pointer; }
  .side-tree__section__title .badge {
    float: right;
    margin-top: -7px; }

.side-tree__section__title:hover {
  background-color: #d9d9d9; }

.side-tree__node-container.side-tree__entities-node-container {
  max-height: inherit; }

.side-tree__node-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.1s ease-in; }

.side-tree__node-container--collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out; }

.side-tree__node {
  padding: 15px 20px;
  cursor: pointer; }

.side-tree__anchor-node a {
  color: #747474;
  padding: 15px 20px;
  display: block; }

.side-tree__anchor-node a:hover {
  background-color: #d9d9d9; }

.side-tree__anchor-node a.active {
  font-weight: 700;
  background-color: #f1f1f1; }

.side-tree__block-node {
  padding: 10px 2px; }
  .side-tree__block-node a {
    text-align: center;
    display: block; }

.side-tree__separator {
  margin: 10px;
  border: 1px solid #d9d9d9; }

.side-tree__node:hover {
  background-color: #d9d9d9; }

.side-tree__node.active {
  background-color: #f1f1f1;
  font-weight: 600; }

.empty-state__side-tree-section {
  padding: 20px 0;
  text-align: center;
  color: #cfcfcf;
  font-size: 20px; }
  .empty-state__side-tree-section .fa {
    font-size: 30px; }

.side-tree__filter-container {
  margin: 10px 2px;
  margin-top: 0px;
  display: flex; }

.side-tree__filter {
  font-size: 1.1rem;
  padding: 10px;
  flex: 1;
  border-radius: 3px;
  border: 1px solid #d9d9d9; }

.collapse-toggle {
  color: #a0a0a0;
  margin: 0 5px;
  width: 15px; }

.drop-down__wrapper {
  display: inline-block;
  min-width: 486px; }

.drop-down__wrapper.active .drop-down__item-wrapper {
  display: block; }

.drop-down__label__wrapper {
  display: flex;
  cursor: pointer; }
  .drop-down__label__wrapper i {
    color: #838383;
    font-size: 17px;
    margin-top: -2px;
    margin-left: 10px; }

.drop-down__label {
  flex: 1; }

.drop-down__item-wrapper {
  width: 485px;
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  border: 1px solid #d9d9d9;
  max-height: 400px;
  overflow: auto;
  box-shadow: 0px 7px 12px -4px rgba(0, 0, 0, 0.4); }

.drop-down__item {
  padding: 10px;
  cursor: pointer; }

.drop-down__item:hover {
  background-color: #f1f1f1; }

.entity-list {
  background-color: #FFF; }

.entity-item__container {
  list-style: none;
  margin: 0;
  padding: 0; }

.entity-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  border-radius: 3px; }

.entity-item__name, .entity-header__name {
  flex: 55; }

.entity-item__created-on, .entity-header__created-on {
  flex: 20; }

.entity-item__modified-on, .entity-header__modified-on {
  flex: 20; }

.entity-item__actions, .entity-header__actions {
  flex: 5; }

.entity-item__actions {
  font-size: 1.6rem;
  margin: -9px 0; }

.entity-item__action {
  cursor: pointer;
  color: #cfcfcf;
  padding: 7px;
  border-radius: 50%; }

.entity-item__action:hover {
  color: #838383;
  background-color: #f1f1f1; }

.list-header {
  font-size: 1.2rem;
  font-weight: 700; }
  .list-header .sort {
    color: #42B983; }

.entity-item__name {
  font-size: 1.1rem;
  font-weight: 700; }

.entity-list__empty-state {
  color: #d9d9d9;
  text-align: center;
  padding: 100px;
  font-size: 1.5rem; }
  .entity-list__empty-state h1 {
    font-size: 6rem; }

.iuclid-form-content-wrapper {
  overflow: auto;
  height: 75vh; }

.form__content {
  padding: 10px 0; }
  .form__content label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial; }
  .form__content .no-type-warn {
    font-weight: 400;
    font-size: 1.5rem;
    color: #b3454e;
    border: 1px solid;
    padding: 10px; }

.form-picker__title {
  margin: 0;
  margin-bottom: 10px; }

textarea:focus, input:focus, select:focus {
  outline: none !important;
  box-shadow: 0 0 2px #42B983; }

.form__content--block {
  border: 1px solid #d9d9d9;
  background: #FFF;
  padding: 20px;
  margin: 20px 0; }

.form__conent--block__title {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #42B983;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  transition: margin-bottom 0.15s ease-in-out; }

.form__content--block__wrapper {
  max-height: 4000px;
  overflow: auto;
  transition: max-height 0.25s ease-in-out; }

.form__content--block--collapsed .form__conent--block__title {
  margin-bottom: -20px;
  transition: margin-bottom 0.25s ease-in-out; }

.form__content--block--collapsed .form__content--block__wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0, 1.05, 0, 1); }

.fa.fa-check-circle {
  color: #42B983;
  float: right;
  font-size: 25px;
  margin-top: -2px; }

.fa.fa-exclamation-circle {
  color: #b12f3d;
  float: right;
  font-size: 25px;
  margin-top: -2px; }

.form__content--text textarea {
  min-height: 100px; }

.form__content--text input, .form__content--text textarea {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  min-width: 75px;
  height: auto;
  vertical-align: baseline;
  margin: 0;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #d9d9d9;
  font-size: 1.1rem;
  line-height: 2.4rem;
  font-weight: 400; }

.form-toolbar {
  display: flex;
  padding: 5px 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf; }
  .form-toolbar .form-toolbar--filler {
    flex: 1; }
  .form-toolbar .btn {
    color: #2e2e2e;
    padding: 5px 10px;
    margin: 0 2.5px;
    font-size: 22px; }

.form__content--pick-list__select {
  font-size: 1.1rem;
  border-color: #d9d9d9;
  background-color: #FFF;
  height: 40px;
  width: 100%; }
