<div class="breadcrumb-container">
    <span class="showing">Showing {{ itemCount }} of {{ totalItemCount | number }}</span>
    <span class="separator">|</span>
    <div class="crumb-container">
        <div class="crumb" ng-repeat="crumb in crumbs">
            {{ crumb.bcDisplay || crumb.label }}
            <i class="fa fa-close" ng-click="removeCrumb(crumb)"></i>
        </div>
    </div>
    <div>
        <button ng-class="{disabled: crumbs.length === 0}" class="btn btn-primary"
                ng-click="removeAll()">
            Clear All
        </button>
    </div>
</div>
