<div class="entity-list">
    <div class="entity-list-container">
        <div class="list-header" style="display: flex; padding: 20px; border-bottom: 1px solid #e7e7e7;">
            <span class="entity-header__name">Name</span>
            <span class="entity-header__created-on">Created On</span>
            <span class="entity-header__modified-on sort sort-desc">Modified On <i class="fa fa-caret-down"></i></span>
            <span class="entity-header__actions">
                <i class="fa fa-repeat entity-item__action" ng-click="refresh()"></i>
            </span>
        </div>
        <ul class="entity-item__container">
            <li ng-repeat="entity in entities" class="entity-item">
                <a href="/#/entities{{ entityUrl }}/{{ entity.representation.key }}"
                   class="entity-item__name">{{ entity.representation.name || entity.representation.publicName }}</a>
                <span class="entity-item__created-on">{{ entity.representation.createdOn | date:'medium' }}</span>
                <span class="entity-item__modified-on">{{ entity.representation.modifiedOn | date:'medium' }}</span>
                <div class="entity-item__actions">
                    <i class="fa fa-trash entity-item__action" ng-click="deleteEntity(entity, $index)"></i>
                </div>
            </li>
        </ul>

        <div ng-if="entities.length === 0" class="entity-list__empty-state">
            <h1><i class="fa fa-cloud"></i></h1>
            <h2>No {{ entityDisplayName }} could be found!</h2>
        </div>
    </div>
</div>
