<div class="iuclid-substance-list">
    <div class="iuclid-substance-list-container">
        <div ng-repeat="iuclidSubstance in iuclidSubstances" class="iuclidSubstance-card" ng-click="openIuclidSubstance(iuclidSubstance)">
            <h3>
                <i ng-class="{'fa-star': iuclidSubstance._favorite, 'fa-star-o': !iuclidSubstance._favorite}"
                   class="fa" ng-click="favoriteIuclidSubstance(iuclidSubstance, $event)"></i>
                <span class="separator">|</span>
                {{ iuclidSubstance.name }}
                <small>{{ iuclidSubstance.key }}</small>
            </h3>
        </div>
        <div ng-if="!iuclidSubstances.length" class="iuclidSubstance-list-empty">
            <h1><i class="fa fa-cloud"></i></h1>
            <h2>No Iuclid Substances match your Search!</h2>
        </div>
    </div>
</div>
