<div class="search-bar">
    <div class="main-search">
        <div class="nav-buttons">
            <a href="/#/">
                <i class="fa fa-home"></i>
            </a>

            <a href="/#/substances">
                <i class="fa fa-flask"></i>
            </a>
           <a href="/#/endpointstudies">
                <i class="fa fa-file-picture-o"></i>
            </a>
           <a href="/#/picklist">
                <i class="fa fa-binoculars"></i>
            </a>

        </div>

        <div class="search-input-container">
            <input type="text" placeholder="Search..."/>
        </div>
        <div class="menu-actions">
            <a href="https://github.com/derek-meulmeester/coveo-saq-search"  target="_blank" rel="noopener">
                <i class="fa fa-github"></i>
            </a>
            <i class="fa fa-star"></i>
            <i class="fa fa-history"></i>
        </div>
    </div>
</div>
