.form__content--block {
  border: 1px solid #e8e8e8;
  background: #FFF;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 -1px 0 #fff, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.form__content--block:hover {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.form__conent--block__title {
  cursor: pointer;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  transition: margin-bottom 0.15s ease-in-out;
}

.form__content--block__wrapper {
  max-height: 4000px;
  overflow: auto;
  transition: max-height 0.25s ease-in-out;
}

.form__content--block--collapsed {
  .form__conent--block__title {
    margin-bottom: -20px;
    transition: margin-bottom 0.25s ease-in-out;
  }

  .form__content--block__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0, 1.05, 0, 1);
  }
}
