.form__content--block {
  border: 1px solid $color-s4;
  background: #FFF;
  padding: 20px;
  margin: 20px 0;
}

.form__conent--block__title {
  cursor: pointer;
  background-color: $color-s5;
  color: $color-p0;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid $color-s4;
  transition: margin-bottom 0.15s ease-in-out;
}

.form__content--block__wrapper {
  max-height: 4000px;
  overflow: auto;
  transition: max-height 0.25s ease-in-out;
}

.form__content--block--collapsed {
  .form__conent--block__title {
    margin-bottom: -20px;
    transition: margin-bottom 0.25s ease-in-out;
  }

  .form__content--block__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0, 1.05, 0, 1);
  }
}

.fa.fa-check-circle {
  color: $color-p0;
  float: right;
  font-size: 25px;
  margin-top: -2px;
}

.fa.fa-exclamation-circle {
  color: #b12f3d;
  float: right;
  font-size: 25px;
  margin-top: -2px;
}
