.iuclid-form-content-wrapper {
  overflow: auto;
  height: 72vh;
}

.form__content {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
  }

  .no-type-warn {
    color: #b3454e;
    opacity: 0.75;
    line-height: 1.4rem;
    border: 1px solid;
    padding: 10px;
  }
}

/* DESKTOP */
@media only screen and (min-width: $tablet-max-width) {
  .form-picker__title {
    margin: 0;
    margin-bottom: $pad-sm;
  }
}
@media only screen and (max-width: $tablet-max-width) {
  .form-picker__title {
    margin: 20px 0;
    font-size: 1.2rem;
  }
}
