.iuclid-form-content-wrapper {
  overflow: auto;
  height: 70vh;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.iuclid-form-content__container {
  margin: 25px;
  padding: 35px;
  background-color: #FFF;
  border: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.form__content {
  padding: 10px;

  label {
    color: #31373d;
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
  }

  .no-type-warn {
    font-weight: 400;
    font-size: 1.5rem;
    color: #b3454e;
    border: 1px solid;
    padding: 10px;
  }
}