.iuclid-form-content-wrapper {
  overflow: auto;
  height: 75vh;
}

.form__content {
  padding: 10px 0;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
  }

  .no-type-warn {
    font-weight: 400;
    font-size: 1.5rem;
    color: #b3454e;
    border: 1px solid;
    padding: 10px;
  }
}

.form-picker__title {
  margin: 0;
  margin-bottom: $pad-sm;
}

textarea:focus, input:focus, select:focus {
  outline: none !important;
  box-shadow: 0 0 10px $color-p0;
}
