.form-tab {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #bfbfbf;
  margin: 0;
  margin-bottom: -1px;
  margin-right: -5px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}
.form-tab--add {
  padding: 10px 15px;
}
.form-tab.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.form-tab.active, .form-tab.active:hover, .form-tab.active:active {
  border-bottom: 1px solid $color-s6;
  color: $color-p0;
  background-color: $color-s6;
  cursor: default;

  .form-tab__label {
    font-weight: 600;
  }
}
.form-tab:hover {
  background-color: $color-s5;
}
.form-tab:active {
  background-color: $color-s4;
}

.form-tab__label {
  font-weight: 400;
}
.form-tab__label.form-tab__label--add {
  color: $color-p0;
}
