.form__content--text {
  textarea {
    min-height: 100px;
  }
  input,textarea {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: 75px;
    height: auto;
    vertical-align: baseline;
    margin: 0;
    padding: 5px 10px;
    color: $black;
    border: 1px solid $color-s4;
    font-size: 1.3rem;
    line-height: 2.4rem;
    font-weight: 400;
  }
}