.empty-state {
  padding: 50px;
  text-align: center;
}

.empty-state__title {
  color: $color-s3;
  font-size: 50px;
}

.empty-state__icon {
  color: $color-s3;
  font-size: 100px !important;
  margin: 50px 0;
}

.empty-state__description {
  color: $color-s3;
  font-size: 20px;
}
