.entity-list {
  background-color: $white;
}

.entity-item__container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entity-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid $color-s4;
  border-radius: 3px;
}

.entity-item__name, .entity-header__name {
  flex: 55;
}
.entity-item__created-on, .entity-header__created-on {
  flex: 20;
}
.entity-item__modified-on, .entity-header__modified-on {
  flex: 20;
}
.entity-item__actions, .entity-header__actions {
  flex: 5;
}

.entity-item__actions {
  font-size: 1.6rem;
  margin: -9px 0;
}

.entity-item__action {
  cursor: pointer;
  color: $color-s3;
  padding: 7px;
  border-radius: 50%;
}
.entity-item__action:hover {
  color: $color-s2;
  background-color: $color-s5;
}

.list-header {
  font-size: 1.2rem;
  font-weight: 700;
  .sort {
    color: $color-p0;
  }
}

.entity-item__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.entity-list__empty-state {
  color: $color-s4;
  text-align: center;
  padding: 100px;
  font-size: 1.5rem;

  h1 {
    font-size: 6rem;
  }
}
