.paging-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

    button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        outline: none;
    }
    .next {
        font-size: 24px;
        border-radius: 0 3px 3px 0;
    }
    .prev {
        font-size: 24px;
        border-radius: 3px 0 0 3px;
    }
}

.page-info {
    margin: 0 20px;
    font-size: 13px;
    color: #6b6b6b;

    b {
        font-size: 15px;
    }
}
