.product-list {
    overflow: auto;
    height: 70vh;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.product-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    flex-grow: 1;
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #dadada;
    border-radius: 3px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #FFF;
    box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    cursor: pointer;

    h3 {
        color: $color-p3;
        small {
            color: #333;
        }
    }
    i.fa.fa-star {
        color: #ffc71a;
    }
}
.product-card:hover {
    box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 4px 8px rgba(0,0,0,.24);
}

.product-region {
    color: #484848;
}
.product-details {
    display: flex;
}
.product-thumbnail {
    height: 200px;
}
.product-notes {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 3px;
    font-size: 12px;
}

.checkbox-label {
    font-size: 12px;
}

.product-list-empty {
    text-align: center;
    width: 100%;
    padding: 100px;

    h1 {
        color: #DDD;
        font-size: 100px;
        margin: 0;
    }
    h2 {
        color: #d2d2d2;
    }
}
