.search-bar {
    z-index: 100;
    position: relative;
    background-color: $white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

    a {
        color: $color-s0;
        text-decoration: none;
        padding: $pad-md;
        border-right: 1px solid $color-s4;
    }
    a.active {
        color: $color-p0;
        border-bottom: 3px solid $color-p0;
        margin-bottom: -3px;
    }

    .drop-down__wrapper {
        border-right: 1px solid $color-s4;
    }
    .drop-down__label__wrapper {
        padding: $pad-md;
    }
}
