.search-bar {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    background-color: $white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

    /* MOBILE/TABLET */
    @media only screen and (max-width: $tablet-max-width) {
        .on-mobile {
            display: inline-block;
        }
        .on-desktop {
            display: none;
        }
    }
    /* DESKTOP */
    @media only screen and (min-width: $tablet-max-width) {
        .on-mobile {
            display: none;
        }
        .on-desktop {
            display: inline-block;
        }
    }

    a {
        color: $color-s0;
        text-decoration: none;
        padding: $pad-md;
        border-right: 1px solid $color-s4;
        display: inline-block;
    }
    a:active {
        background-color: $color-s6;
    }
    a.active {
        color: $color-p0;
        border-bottom: 3px solid $color-p0;
        margin-bottom: -3px;
    }

    .drop-down__wrapper {
        border-right: 1px solid $color-s4;
    }
    .drop-down__label__wrapper {
        padding: $pad-md;
    }
}

.search-bar__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.3rem;
}