.search-bar {
    z-index: 100;
    position: relative;
    padding: $pad-sm $pad-xlg;
    background-color: $color-p1;
    color: $white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.main-search {
    display: flex;

    input {
        width: 100%;
        margin: 0 auto;
        max-width: 675px;
        padding: 10px 20px;
        border-radius: 3px;
        border: none;
        font-size: 18px;
        background: rgba(255,255,255,.15);
        color: #FFF;
        outline: none;
    }
    input:focus {
        background-color: #FFF;
        color: #000;
    }
}

.search-input-container {
    flex: 1;
    display: flex;
}

.coveo-logoo {
    width: 200px;
    height: 35px;
    background-image: url(/coveo-saq-search/img/coveo-logo.svg);
    background-repeat: no-repeat;
}
.menu-actions {
    width: 200px;

    i {
        font-size: 25px;
        cursor: pointer;
        padding: 8px;
        border-radius: 50%;
        float: right;
    }
    i:active {
        background-color: #336ccc;
    }
    a {
        color: $white;
    }
}

::-webkit-input-placeholder {
    color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
    color: #FFF;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF;
}
:-ms-input-placeholder {
    color: #FFF;
}
