
.side-tree {
  position: fixed;
  top: 55px;
  bottom: 0;
  overflow-y: auto;
  width: $side-filter-width;
  background-color: $color-s6;
  padding: $pad-xlg 0;
}
/* MOBILE/TABLET */
@media only screen and (max-width: $tablet-max-width) {
  .side-tree {
    z-index: 1;
    left: -300px;
    transition: left 0.2s ease-out;
  }
  .side-tree.tree-open {
    left: 0px;
    transition: left 0.2s ease-in;
  }
}

.side-tree__title {
  color: $color-s2;
  font-weight: bold;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.side-tree__section__title {
  margin: 0;
  padding: $pad-md;
  border-top: 1px solid $color-s3;
  cursor: pointer;

  .badge {
    float: right;
    margin-top: -7px;
  }
}
.side-tree__section__title:hover {
  background-color: $color-s4;
}

.side-tree__node-container.side-tree__entities-node-container {
  max-height: inherit;
}

.side-tree__node-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  transition: max-height 0.1s ease-in;
}
.side-tree__node-container--collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

.side-tree__node {
  padding: 15px 20px;
  cursor: pointer;
}
.side-tree__anchor-node {
  a {
    color: $color-s0;
    padding: 15px 20px;
    display: block;
  }
  a:hover {
    background-color: $color-s4;
  }
  a.active {
    font-weight: 700;
    background-color: $color-s5;
  }
}
.side-tree__block-node {
  padding: 10px 2px;
  padding-top: 0;

  a {
    text-align: center;
    display: block;
  }
}

.side-tree__separator {
  margin: 10px;
  border: 1px solid $color-s4;
}

.side-tree__node:hover {
  background-color: $color-s4;
}
.side-tree__node.active {
  background-color: $color-s5;
  font-weight: 600;
}

.empty-state__side-tree-section {
  padding: 20px 0;
  text-align: center;
  color: $color-s3;
  font-size: 20px;
  .fa {
    font-size: 30px;
  }
}

.side-tree__filter-container {
  margin: $pad-sm 2px;
  margin-top: 0px;
  display: flex;
}
.side-tree__filter {
  font-size: 1.1rem;
  padding: $pad-sm;
  flex: 1;
  border-radius: 3px;
  border: 1px solid $color-s4;
}

.submission-type__select {
  font-size: 1.1rem;
  border-color: $color-s4;
  background-color: $white;
  height: 40px;
  width: 296px;
  margin: 2px;
}