<div class="side-tree"
     ng-class="{ 'tree-open': state.treeOpen }">
    <select class="submission-type__select"
            ng-model="state.submissionType"
            ng-change="loadSubmissionType()"
            ng-options="type as type.title for type in state.submissionTypes">
    </select>
    <div ng-if="state.tree">
        <div class="side-tree__filter-container">
            <input type="text"
                   class="side-tree__filter"
                   placeholder="Filter..."
                   ng-model="state.filter"
                   ng-change="filter()">
        </div>
        <side-tree-section section="state.treeDisplay.sections.completed" props="props"></side-tree-section>
        <side-tree-section section="state.treeDisplay.sections.required" props="props"></side-tree-section>
        <side-tree-section section="state.treeDisplay.sections.endpointStudies" props="props"></side-tree-section>
        <side-tree-section section="state.treeDisplay.sections.endpointSummaries" props="props"></side-tree-section>
        <side-tree-section section="state.treeDisplay.sections.others" props="props"></side-tree-section>
    </div>
</div>
