<h3 class="side-tree__section__title"
        ng-click="toggleSection($event)">
    <i class="fa collapse-toggle"
        ng-class="{ 'fa-chevron-down': !state.collapsed, 'fa-chevron-right': state.collapsed }"> </i>
    {{ section.title }}
    <span class="badge">{{ section.documents.length }}</span>
</h3>
<ul class="side-tree__node-container"
        ng-class="{ 'side-tree__node-container--collapsed': state.collapsed }">
    <li class="side-tree__node"
        ng-click="loadNodeDocument(document)"
        ng-repeat="document in section.documents">
        {{ document.title }}
    </li>
</ul>