$white: #FFF;
$black: #000;

$color-p0: #42B983;
$color-p1: #9AE6C3;
$color-p2: #67D0A0;
$color-p3: #26A76D;
$color-p4: #0D8E53;

$color-s0: #747474;
$color-s1: #535353;
$color-s2: #838383;
$color-s3: #bbbbbb;
$color-s4: #d9d9d9;
$color-s5: #f1f1f1;
$color-s6: #f7f7f7;

$btn-color-s0: $color-s3;
$btn-color-s1: #cdcdcd;
$btn-color-s2: #bebebe;