.substance-item__container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.substance-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $color-s4;
  border-radius: 3px;
}

.substance-item__name {
  flex: 50;
  font-size: 1.3rem;
  font-weight: 700;
}
.substance-item__created-on {
  flex: 25;
}
.substance-item__modified-on {
  flex: 25;
}
