<div class="form-toolbar">
    <!-- FILTER -->
    <button class="btn"
            ng-class="{ 'pressed': filterDefinition }"
            ng-click="filter()"
            title="Toggle custom filters">
        <i class="fa fa-filter"></i>
    </button>

    <div class="form-toolbar--filler"></div>

    <!-- SAVE DOCUMENT -->
    <button class="btn"
            ng-click="save()"
            ng-if="document"
            title="Save document">
        <i class="fa fa-save"></i>
    </button>

    <!-- DOWNLOAD CSV -->
    <button class="btn"
            ng-click="downloadCsv()"
            title="Download csv extract"
            ng-if="documentData">
        <i class="fa fa-file-excel-o"></i>
    </button>

    <!-- DOWNLOAD TXT -->
    <a href="{{ state.downloadUrl }}"
       class="btn"
       title="Download text extract"
       ng-if="document">
        <i class="fa fa-file-text-o"></i>
    </a>

    <span class="form-toolbar__separator"></span>

    <!-- DELETE -->
    <button class="btn"
            ng-click="delete()"
            title="Delete"
            ng-if="documentData">
        <i class="fa fa-trash"></i>
    </button>
</div>
