<div ng-repeat="content in contents" ng-switch="content.type">
    <iuclid-block ng-switch-when="block" content="content"></iuclid-block>
    <iuclid-text ng-switch-when="text" content="content"></iuclid-text>
    <iuclid-checkbox ng-switch-when="boolean" content="content"></iuclid-checkbox>
    <iuclid-range ng-switch-when="range" content="content"></iuclid-range>
    <iuclid-numeric ng-switch-when="numeric" content="content"></iuclid-numeric>
    <iuclid-pick-list ng-switch-when="picklist" content="content"></iuclid-pick-list>
    <iuclid-attachment ng-switch-when="attachment" content="content"></iuclid-attachment>

    <!--
        The template for adding new form types is like this:
        <iuclid-$type ng-switch-when="$type" content="content" ></iculid-$type>
    -->

    <div ng-switch-default class="form__content">
        <pre class="no-type-warn">No Form Attribute Implementation for Type:[{{ content.type }}]<br><b>Content:</b> {{ content }}</pre>
    </div>
</div>
