<!--
    If there is no document object defined then we
    should give the user the ability to choose one
    For now this is just a button to load a mock object
    which matches the structure of a Document Definition

    we check this with the `ng-if`
-->
<div ng-if="!document" style="padding: 50px;">
    <p>Click the button below to load a Document (maybe in the future this is a drop down to load different forms)</p>
    <button ng-click="loadDoc()" class="btn btn-primary">Load Document</button>
</div>
<!--
    If there is a document defined then we'll created
    an instance of our <iuclid-form> and pass the document
    object to it to be rendered
-->
<div ng-if="document">
    <iuclid-form document="document"></iuclid-form>
</div>
